{% extends "navbar.html" %}

{% block content %}

<head>
    <link rel="stylesheet" href="../static/css/constraints.css">
</head>
<h1 class=" mt-5 pt-5 text-center">Preview</h1>
<div class="flex-container">
    <table class="table" id="preview-table">
        <thead>
            <tr>
                {% for column in df.columns %}
                <th>{{ column }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in df.values.tolist() %}
            <tr>
                {% for value in row %}
                <td>{{ value }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="d-flex justify-content-center">
    <embed src="data:application/pdf;base64,{{ document_pdf }}" type="application/pdf" width="50%" height="600px">
</div>
{% endblock %}