{%extends "navbar.html"%}
{%block content%}


{% block title%}Home {% endblock %}

<head>
    <link rel="stylesheet" href="../static/css/customStyle.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <script src="https://kit.fontawesome.com/c83e9ead2b.js" crossorigin="anonymous"></script>
</head>

<body>

    <!-- TOP HERO SECTION -->
    <div class="bg-dark text-secondary px-4 py-5 text-center custom-hero">
        <div class="py-5 hero-text">
            <h1 class="display-5 fw-bold text-white">No more manual setting of question paper</h1>
            <div class="col-lg-6 mx-auto">
                <p class="fs-5 mb-4">Quickly create a fair and effective question paper in one
                    click. All you need to give us is just an excel file</p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <button type="button" class="btn btn-outline-light btn-lg px-4 me-sm-3">
                        <a href="/instructions">Get Started</a>
                    </button>
                    <button type="button" class="btn btn-outline-light btn-lg px-4">
                        <a href="#featured-3">Learn More</a>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- 3 STEPS -->
    <div class="container px-4 py-5" id="featured-3">
        <h2 class="pb-2 featured-heading">Generate in 3 easy steps</h2>
        <div class="container px-5">
            <div class="row gx-5">
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <i class="icon fa-regular fa-file-excel fa-4x"></i>
                    <h2 class="h4 fw-bolder">Simple uploading</h2>
                    <p>Download a simple excel format and fill it with the questions and the constratints.
                        We will take care of the rest.
                    </p>
                </div>
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <i class="icon fa-regular fa-circle-check fa-4x"></i>
                    <h2 class="h4 fw-bolder">Constraints on questions</h2>
                    <p>You can provide us the constraints that you want to set on your question paper
                        such as marks per question, bloom's taxonomy, difficulty level, etc.
                    </p>
                </div>
                <div class="col-lg-4">
                    <i class="icon fa-regular fa-circle-down fa-4x"></i>
                    <h2 class="h4 fw-bolder">Download the question paper</h2>
                    <p>After finishing all the steps, sit back and relax! Let us take care of the rest, simply download
                        the generated file or regenerate it after making desired changes</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Team Photos -->

    <div class="container border-top pt-5 text-secondary" id="team">
        <div class="text-center">
            <h2 class="section-heading text-uppercase mt-0  pb-2">Meet our developers</h2>
            <h3 class="section-subheading text-muted pb-4">B.Tech. IT SY DA</h3>
        </div>
        <div class="row my-5">
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" style=" width: 200px; height: 200px" ;
                        src="../static/images/Purvika.jpg" />
                    <h4>Purvika Gore</h4>
                    <p class="text-muted">2215028</p>
                    <a class="btn btn-dark btn-social mx-2" href="https://www.instagram.com/purvika__._/"
                        aria-label="Purvika Gore Instagram" target="_blank"><i class="bi bi-instagram"
                            style="font-size: 20px;"></i></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" style=" width: 200px; height: 200px;"
                        src="../static/images/Sonam.JPG" />
                    <h4>Sonam Bhul</h4>
                    <p class="text-muted">2215064</p>
                    <a class="btn btn-dark btn-social mx-2 " href="https://www.instagram.com/sonam_bhule/"
                        aria-label="Sonam Bhul Instagram" target="_blank"><i class="bi bi-instagram"
                            style="font-size: 20px;"></i></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" style=" width: 200px; height: 200px;"
                        src="../static/images/Juhi.jpg" />
                    <h4>Juhi Shah</h4>
                    <p class="text-muted">2215014</p>
                    <a class="btn btn-dark btn-social mx-2" href="https://www.instagram.com/juhi.__.shah/"
                        aria-label="Juhi Shah Instagram" target="_blank"><i class="bi bi-instagram"
                            style="font-size: 20px;"></i></a>
                </div>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-lg-4 mx-auto">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" style=" width: 200px; height: 200px;"
                        src="../static/images/Akshat.png" />
                    <h4>Akshat Vashisht</h4>
                    <p class="text-muted">2215018</p>
                    <a class="btn btn-dark btn-social mx-2" href="https://www.instagram.com/akshat.vashisht011/"
                        aria-label="Akshat Vashisht Instagram" target="_blank"><i class="bi bi-instagram"
                            style="font-size: 20px;"></i></a>
                </div>
            </div>
            <div class="col-lg-4  mx-auto">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" style=" width: 200px; height: 200px;"
                        src="../static/images/Jyoti.jpg" />
                    <h4>Prof. Jyoti Nandimath</h4>
                    <p class="text-muted">Project guide </p>
                    <a class="btn btn-dark btn-social mx-2" href="https://www.instagram.com/jyonandimath/"
                        aria-label="Jyoti Nandimath Instagram" target="_blank"><i class="bi bi-instagram"
                            style="font-size: 20px;"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <p class="large text-muted">
                    Meet our talented team of developers who are passionate about creating an exceptional project
                    to bring about a change in the educational system
                </p>
            </div>
        </div>
    </div>


</body>

</html>
{%endblock%}